# Auto-Cursor Project Dependencies

# GUI Automation
pyautogui

# Google Gemini API
google-genai

# OpenAI API
openai

# YAML Configuration File Parser
PyYAML

# Environment Variables
python-dotenv

# Other Dependencies
pillow

